.logo {
   height: 46px;
 }

.side__image{
   background-image: url('/images/vetor_lateral.svg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 435px;
   left: 0;
   position: absolute;
   top: 33vh;
   transform: scaleX(-1);
   width: 75px;
}

.content {
   text-align: center;
}

.content__title {
   color: var(--azul);
   line-height: 21px;
   padding-top: 1.5rem;
   text-align: center;
}

.content__text {
   color: var(--azul);
   line-height: 21px;
   margin: 0 auto;
   padding: .5rem 0;
   width: 312px;
}

.form {
   color: var(--cinza);
   min-height: 50vh;
   padding-top: 1rem;
   text-align: center;
}

.form__field{
   align-items: center;
   display: flex;
   flex-direction: column;
}

.button__desktop{
   display: none;
}

@media (min-width: 768px) and (orientation: landscape){
   .logo {
      height: 64px;
    }

   .form{
       min-height: auto;
   }
}

@media (min-width: 768px){
   .side__image{
       height: 655px;
       left: unset;
       position: absolute;
       right: 0;
       top: 20vh;
       transform: scaleX(1);
       width: 110px;
   }
}

@media (min-width: 1440px){
   .form{
       min-height: 60vh;
   }

   .button__desktop{
       display: block;
   }

   .button__mobile{
       display: none;
   }
}