.side__image {
  background-image: url('/images/vetor_lateral.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: absolute;
  right: 0;
  top: 20vh;
  width: 85px;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 46px;
}

.content__title {
  color: var(--branco);
  font-family: var(--fonte-secundaria);
  font-size: 26px;
  line-height: 48px;
  padding-top: 1rem;
}

.content__mobile {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 1rem 0;
}

.content__desktop {
  display: none;
}

.content {
  margin: auto auto;
  text-align: center;
  width: 248px;
}

.illustration {
  width: 70%;
  margin: 0 auto;
  position: relative;
  right: 1.2rem;
  top: 1.0rem;
}


@media (min-width: 768px) {
  .side__image {
    height: 670px;
    top: 20vh;
    width: 115px;
  }

  .logo {
    height: 62px;
  }

  .content {
    width: 344px;
  }

  .content__mobile {
    display: none;
  }

  .content__desktop {
    display: block;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 1rem 0;
  }
}


@media (min-width: 1440px) {
  .side__image {
    height: 670px;
    top: 15vh;
    width: 115px;
  }

  .logo {
    height: 64px;
  }

  .content {
    width: 488px;
  }
}