.label {
   display: block;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: .5rem;
   width: 100%;
}

.contact{
   background: var(--branco);
   text-align: left;
}

.register{
   background: var(--cinza-claro);
   text-align: center;
}

.contact, .register {
   border: none;
   border-radius: 6px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
   font-family: var(--fonte-principal);
   height: 48px;
   margin-bottom: 1rem;
   padding: .5rem 1rem;
   width: 280px;
}

.contact::placeholder {
   text-align: left;
}

.register::placeholder {
   text-align: center;
}

.contact::placeholder, .register::placeholder {
   font-family: var(--fonte-principal);
   font-size: 12px;
   line-height: 24px;
}

@media (min-width: 768px){
   .contact, .register {
       width: 492px;
   }

   .contact::placeholder, .register::placeholder {
      font-size: 14px;
   }
}