.container__password {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.icon {
    height: 40px;
    margin-left: 240px;
    margin-top: 6px;
    position: absolute;
}

.label {
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}

.password {
    background: var(--cinza-claro);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    height: 40px;
    text-align: center;
    width: 312px;
}

.password::placeholder {
    font-family: var(--fonte-principal);
    font-size: 12px;
}


@media (min-width: 768px) {
    .password {
        width: 344px;
    }

    .password::placeholder {
        font-size: 14px;
    }

    .icon {
        margin-left: 272px;
    }
}

@media (min-width: 1440px) {
    .password {
        width: 362px;
    }

    .password::placeholder {
        font-size: 16px;
    }

    .icon {
        margin-left: 302px;
    }
}