.pet {
   color: var(--azul);
}

.side__image {
   display: none;
}

.form {
   background-color: var(--cinza-claro);
   border-radius: 10px;
   margin: 1rem auto;
   min-height: 636px;
   padding: 2rem 1rem;
   width: 312px;
}

.title {
   margin: 0 auto;
   text-align: center;
   width: 226px;
}

.button {
   padding-top: 2rem;
}

@media (min-width: 768px) {
   .side__image {
      display: inline;
      background-image: url('/images/vetor_lateral.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 670px;
      position: absolute;
      right: 0;
      top: 20vh;
      width: 115px;
   }

   .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .form {
      width: 524px;
   }

   .title {
      width: 524px;
   }
}

@media (min-width: 1440px) {
   .form {
      width: 700px;
   }

   .side__image {
      min-height: 670px;
      top: 15vh;
      width: 115px;
   }
}